
@media (min-width: 1200px) {
    html {
        font-size: 1rem;
    }
}

@media (max-width: 1200px) {
    html{
        font-size: 0.8rem;
    }
}

@media (max-width: 992px) {

    html {
        font-size: 0.7rem;
    }

    .navbar-nav .nav-item .nav-link{
        padding: 10px 0px;
    }

    /* .customized-button {
        color: white;
        background-color: rgb(255,91,54);;
        padding: 7px 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 2px;
        border: none;
      }

    .navbar .collapse .customized-button {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
    } */

}

@media (max-width: 768px) {
    html{
        font-size: 0.6rem;
    }

    .section-9-btn {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .footer-text-1 {
        font-size: 1.6rem;
    }

    .footer-text-2 {
        font-size: 1.8rem;
    }

    .footer-links {
        font-size: 1.2rem;
    } 

    .footer .container .row:nth-child(1) img {
        width: 20%!important;
        padding-bottom: 2rem;
    }

    .section-7-btn {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%);
      }

}

@media (max-width: 576px){
    html {
        font-size: 0.5rem;
    }

    .footer{
        padding: 10px;
    }

    .footer-text-2{
        padding-left: 10px;
    }

    .section-9 .col-lg-6 .col-lg-12 .section-9-card{
        width: 48%;
    }

    .footer-text-1 {
        font-size: 1.8rem;
    }

    .footer-text-2 {
        font-size: 2rem;
    }

    .footer-links {
        font-size: 1.5rem;
    }

    .footer .row:nth-child(1):nth-child(1) img {
        width: 40%;
        padding-bottom: 2rem;
    }

}
